.simple_form {
  input[type=text], input[type=email], input[type=file] {
    clear: both;
    /* Required for Webkit, but not for Gecko */
    width: 100%;
    padding: 12px 15px;
    margin: 0.5rem 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=password] {
    clear: both;
    /* Required for Webkit, but not for Gecko */
    width: 100%;
    padding: 12px 15px;
    margin: 0.5rem 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: caption;
    letter-spacing: 3px;
  }

  input[type=submit] {
    margin: 0.5rem 0;
    border: 1px solid #9B9B9B;
  	padding: .7rem 1.25rem;
  	border-radius: .3rem;
  	outline: none;
  	background: white;
  	color: #777;
  }

  input[type=submit]:hover {
    color: #50A7C7;
  }

  input[type=checkbox] {
    margin-right: 5px;
  }

  textarea {
    width: 100%;
    margin: 0.5rem 0;
    min-height: 150px;
    border: 1px solid #E4E4E4;
    background: #F8F9FA;
    border-radius: 0.3rem;
  }

  label {
    font-weight: 300;
    width: 100px;
    margin: 2px;
  }
}

div.boolean, .simple_form input[type='submit'] {

}

div.boolean label {
  float: none;
  margin: 0;
}

label.collection_radio_buttons {
  float: none;
  margin: 0;
  margin-right: 10px;
  vertical-align: -2px;
  margin-left: 2px;
}

.field_with_errors {
  background-color: #ff3333;
}

.simple_form {
  .error {
    clear: left;
    color: red;
    display: block;
    margin-left: 10px;
  }
  .hint {
    clear: left;
    margin-left: 10px;
    color: #555;
    display: block;
    font-style: italic;
  }
}

input {
  &.radio {
    margin-right: 5px;
    vertical-align: -3px;
  }
  &.check_boxes {
    margin-right: 5px;
    vertical-align: -3px;
  }
}

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left: 2px;
}
